.pagination{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.pagination  li{
    list-style: none;
    margin: 10px;
    text-align: center;
    font-size: 16px;
    border: inset;
    padding: 10px;
    border-style: hidden;
    border-style: aqua;
    border-bottom: 10px;
    font-weight: bold;
}
.pagination .page-item{
    justify-content: center;
}